<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBHS Libraries</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <%- include('header') %>
    <main>
        <h1>HBHS Libraries</h1>
        <p>Your one-stop solution for managing library books.</p>
        <p>Explore our collection, manage your account, and enjoy reading!</p>
    </main>
    <main>
        <h2>New Books</h2>
        <hr>
        <div class="book-list">
            <% for (let i = 0; i < Math.min(3, books.length); i++) { %>
                <article>
                    <h3><%= books[i].title %></h3>
                    <p><strong>Author:</strong> <%= books[i].author %></p>
                    <p><strong>Published:</strong> <%= books[i].publishedDate %></p>
                    <p><strong>ISBN:</strong> <%= books[i].isbn %></p>
                </article>
            <% } %>
        </div>
        
    </main>
    <%- include('footer') %>
</body>
</html>